<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renu Document</title>
    <link rel="stylesheet" href="../static/landing_page/css/style.css">
</head>
<body>
    <div class="header">
        <h1>SUPER MARKET</h1>
    </div>
   
    <div class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/product">Products</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/customer">Customer</a></li>
          <li><a href="#">Contact</a></li>
    
       </ul>
    </div>
    
    <div class="section">
        <div class="box1">
            
                <img src="../static/landing_page/images/pic7.jpeg" alt="">
            </div>
        
        <div class="box2">
            <h1>products</h1>
           <marquee>
                <img src="../static/landing_page/images/pic 2.jpeg">
                <img src="../static/landing_page/images/pic6.jpeg">
                <img src="../static/landing_page/images/pic3.jpeg">
                <img src="../static/landing_page/images/pic 2.jpeg">
                <img src="../static/landing_page/images/pic1.jpeg">
                <img src="../static/landing_page/images/PIC13.jpeg">
                <img src="../static/landing_page/images/PIC12.jpeg">
                <img src="../static/landing_page/images/PIC12.jpeg">
                <img src="../static/landing_page/images/PIC4.jpeg">
                <img src="../static/landing_page/images/PIC9.jpeg">
            </marquee>
        </div>

        <div class="box3">
          <img src="../static/landing_page/images/PIC11.jpeg">
          <p>The right store with the right price</p>
          <p>From the supermarket to your door</p>  
        </div>

    
    <section class="table-section">
      <h2>Product List</h2>
      <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Apple</td>
            <td>Fruits</td>
            <td>52.00</td>
          </tr>
          <tr>
            <td>Bread</td>
            <td>Bakery</td>
            <td>51.50</td>
          </tr>
          <tr>
            <td>Milk</td>
            <td>Dairy</td>
            <td>25.00</td>
          </tr>
          <tr>
            <td>dairy milk</td>
            <td>chocolate</td>
            <td>50.00</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Super Market. All Rights Reserved.</p>
  </footer>
</body>
</html>
